.App {
	text-align: center;
}

.wraper {
	border: 2px solid black;
	margin: 10px 15%;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	text-align: left;
}

input {
	font-size: 18px;
	padding: 3px 5px;
}

button {
	margin-top: 10px;
	background-color: rgb(70, 125, 147);
	color: white;
	border-style: solid;
	border-color: rgb(70, 125, 147);
	font-size: 16px;
	padding: 5px 15px;
	cursor: pointer;
	transition: 0.5s;
}
button:hover {
	margin-top: 10px;
	background-color: white;
	color: rgb(70, 125, 147);
	border-color: rgb(70, 125, 147);
}
.break {
	margin: 20px auto;
}

.hideBox {
	border: 2px solid rgb(70, 125, 147);
	padding: 5px 5px;
	height: 110px;
	margin: 5px auto;
}

.exThreeTitle {
	text-align: center;
	color: rgb(70, 125, 147);
}
